.ImageCard {
  border: 2px solid white;
  overflow: hidden;
}

.ImageCard:hover {
  border-color: #0071bc;
  cursor: pointer;
}

.ImageCard:hover .imagechild {
  transform: scale(1.1);
}

.ImageCard:hover > h4 {
  color: #0071bc;
}

.ImageWrapper {
  overflow:hidden;
  width: 286px;
  height:202px;
}

.imagechild {
  transition: transform 0.3s;
  width:286px;
  height:202px;
}

.ImageCard > h4 {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 2px;
}
